@font-face {
    font-family: "Playfair Display"; /* Имя шрифта */
    src: url("fonts/Playfair/PlayfairDisplay-Regular.ttf"); /* Путь к файлу со шрифтом */
    font-weight:400;
   }
@font-face {
    font-family: "Playfair Display"; /* Имя шрифта */
    src: url("fonts/Playfair/PlayfairDisplay-Bold.ttf"); /* Путь к файлу со шрифтом */
    font-weight:700;
   }
@font-face {
    font-family: "Playfair Display"; /* Имя шрифта */
    src: url("fonts/Playfair/PlayfairDisplay-Black.ttf"); /* Путь к файлу со шрифтом */
    font-weight:900;
   }
@font-face {
    font-family: "Roboto"; /* Имя шрифта */
    src: url("fonts/Roboto/Roboto-Thin.ttf"); /* Путь к файлу со шрифтом */
    font-weight:100;
   }
@font-face {
    font-family: "Roboto"; /* Имя шрифта */
    src: url("fonts/Roboto/Roboto-Light.ttf"); /* Путь к файлу со шрифтом */
    font-weight:300;
   }
@font-face {
    font-family: "Roboto"; /* Имя шрифта */
    src: url("fonts/Roboto/Roboto-Regular.ttf"); /* Путь к файлу со шрифтом */
    font-weight:400;
   }
@font-face {
    font-family: "Roboto"; /* Имя шрифта */
    src: url("fonts/Roboto/Roboto-Black.ttf"); /* Путь к файлу со шрифтом */
    font-weight:900;
   }
@font-face {
    font-family: "Hammersmith One"; /* Имя шрифта */
    src: url("fonts/Hammersmith/HammersmithOne-Regular.ttf"); /* Путь к файлу со шрифтом */
    font-weight:400;
   }