// base vars of your project
$turquoise:#00e0d0;
$grey:#c2c2c2;
$gradient-overlay:linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
$dark-grey:#413d4b;
$color_subtext:#2f2d35;
$white_subtitle:#f9f9f9;
$border_team: #e1e1e1;
$color_team_subtext:#fafafa;
$team_color_slogan:#f3f3f3;
// layout
@import "styles/_misc/normalize";
@import "styles/_misc/fonts";
@import "styles/plugins/fontawesome/font-awesome";
@import "styles/plugins/slick/slick";
@import "styles/plugins/slick/slick-theme";
@import "styles/plugins/fancybox/jquery.fancybox";
@import "styles/plugins/fancybox/jquery.fancybox-thumbs";
@import "styles/plugins/fancybox/jquery.fancybox-buttons";
@import "styles/plugins/slicknav/slicknav";
@import "styles/plugins/animate/animate"; 
 
// styles. Past styles of repititive section (if you have more one pages)
//in styles/sections/
//@import "styles/sections/header";
//@import "styles/sections/content-main";
//@import "styles/sections/footer";

//if your project is simple, write styles here....

//BASE BEGIN
.wrapper{
	max-width:940px;
	width:100%;
	overflow:hidden;
	margin: 0 auto;
	padding:0 15px;
	box-sizing:border-box;
}
.button{
	display: table;
	border-radius: 2px;
	border: 1px solid $turquoise;
	padding:15px;
	color: $turquoise;
	font-family: "Hammersmith One";
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	cursor:pointer;
	&:hover{
		color:lighten($turquoise,20%);
		border: 1px solid lighten($turquoise,20%);
	}
}
//BASE END

//HEADER BEGIN
.header{
	background:url(images/header_bg_main.jpg) no-repeat, $gradient-overlay;
	background-blend-mode: multiply, normal;
	background-size:cover;
	position:relative;
    height:100vh; 
}
.header_top{
	display:flex;
	justify-content:space-between;
	margin:15px 0;
}
.logo{}
.logo_link{display:flex; align-items:center;}
.logo_title{
color: #fff;
font-family: Roboto;
font-size: 30px;
font-weight: 100;
margin-left:11px;
}
.top_menu{
	display:flex;
	max-width: 526px;
	width:100%;
	justify-content:space-between;
	align-items:center;
}
.menu_item{}
.menu_link{
	font-family: Roboto;
	font-size: 13px;
	font-weight: 900;
	text-transform: uppercase;
	text-decoration:none;
	color: #fff;
	padding:10px;
	&:hover{
		color: $turquoise;
	}
}
.header_slider{
    height: 80vh;
}
.slider_slide{
	color: #ffffff;
}
.slide_title{
	margin-top:20vh;
	font-family: "Playfair Display";
	font-size: 32px;
	font-weight: 900;
	text-align:center;
}
.slide_separator{
	width: 50px;
	height: 1px;
	background-color: $turquoise;
	margin:20px auto 30px;
}
.slide_text{
	max-width: 771px;
	text-align:center;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
}
.header_slide_button{
	margin:50px auto 120px;
}
.slick-dots li{
	width: 10px;
	height: 10px;
	border-radius:50%;
	border: 1px solid $grey;
}
.slick-dots li.slick-active{
	width: 10px;
	height: 10px;
	border-radius:50%;
	background-color: $turquoise;
	border-color:$turquoise;
}
.slicknav_menu {
	display:none;
	background:$gradient-overlay;
	
	font-family: "Playfair Display";
	font-size: 28px;
	font-weight: 900;
	color:#fff;
padding:15px;
}
.slicknav_menutxt{
		
}


//HEADER END

//MAIN BEGIN
.main{
}
.section__ourstory{
   display:flex;
   justify-content: space-between;
   margin:70px auto;
}
.ourstory_left{}
.ourstory_right{
	margin-left:100px;
}
.ourstory_title{
	color: $dark-grey;
	font-family: "Playfair Display";
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
}
.ourstory_text{
	opacity: 0.75;
	color: $dark-grey;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
}
.ourstory_button{
	&:hover{
		color:darken($turquoise,20%);
		border: 1px solid darken($turquoise,20%);
	}
}

.section__video{
	background:url(images/video_poster.jpg) no-repeat, $gradient-overlay;
	background-blend-mode: multiply, normal;
	background-size:cover;
	position:relative;
    height: 80vh;
}

.video_play{
	position: absolute;
    top:calc(50% - 50px);
    left:calc(50% - 50px);
    cursor: pointer;
}
.section__expertise{}
.expertise_top{
	margin: 70px auto;
}
.expertise_title{
	text-align:center;
	color: $dark-grey;
	font-family: "Playfair Display";
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 15px 0;
}
.expertise_subtitle{
	text-align:center;
	opacity: 0.75;
	color: $color_subtext;
	font-family: "Playfair Display";
	font-size: 14px;
	font-weight: 400;
}
.expertise_separator{
	margin:15px auto 80px;
	width: 50px;
	height: 2px;
	background-color: $dark-grey;
	opacity: 0.3;
}
.expertise_blocks{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "one two three""four five six";
	margin-bottom:70px;
}
.expertise_block{
	display:flex;
	flex-direction:column;
	align-items:center;
	border-bottom:1px solid rgba(0,0,0,0.1);
	border-right:1px solid rgba(0,0,0,0.1);
	&:nth-child(3n){
		border-right:none;
	}
	&:nth-child(4),&:nth-child(5),&:nth-child(6){
		border-bottom: none;
	}
}
.expertise__block_icon{
	margin:35px 0;
    animation-play-state:paused;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    &:hover{
        animation-play-state: running;
        animation-fill-mode: forwards;
    }
}
.expertise__block_icon_img{
}
.expertise__block_title{
	color: $dark-grey;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	text-align:center;
	padding-bottom:25px;
}
.expertise__block_text{
	opacity: 0.75;
	color: #333333;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	text-align:center;
	padding:0 30px 40px;
}

.section__team{
	background:url(images/team_bg.jpg) no-repeat, $gradient-overlay;
	background-blend-mode: multiply, normal;
	background-size:cover;
}

.team__top{
 	margin:70px auto 45px;
}
.team_title{
	color: #ffffff;
	font-family: "Playfair Display";
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	text-align:center;
}
.team_subtitle{
	color: $white_subtitle;
	font-family: "Playfair Display";
	font-size: 14px;
	font-weight: 400;
	text-align:center;
	padding:16px 0 18px;
}
.team_separator{
	width: 50px;
	height: 2px;
	background-color: #ffffff;
	opacity: 0.2;
	margin:0 auto;
}
.team__gallery{
	 display:flex;
	 justify-content:space-between;
	 flex-wrap:wrap;

}
.team_block{
	width: 220px;
	border: 1px solid $border_team;
	margin:0 auto 30px;

}
.team_block_image{
     max-width:220px;
     height:auto; overflow:hidden;
     border-bottom: 1px solid $border_team;
}
.teams_photo{display:block;}
.team_block_bottom{
	
}
.team_block_title{
	color: #ffffff;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	text-align:center;
	padding: 21px 0 12px;
}
.team_block_subtitle{
	opacity: 0.7;
	color: $color_team_subtext;
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
	text-transform: uppercase;
	text-align:center;
	padding-bottom:28px;
}
.team_slogan{
	color: $team_color_slogan;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	margin:70px 0 25px;
	text-align:center;
}
.team_button{
 margin:0 auto 70px;
}

.section__ourworks{
}
.ourworks__top{
	margin:70px 0;
	
}
.ourworks_top_title{
	color: $dark-grey;
	font-family: "Playfair Display";
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	text-align:left;
}
.ourworks_top_link{
	color: $dark-grey;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	text-align:right;
	
}
.link_arrow{
	font-size: 14px;
	opacity: 0.7;
}
.ourworks__gallery{
	width:100%;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: "one two three four five six""seven eight nine ten eleven twelve";
overflow:hidden;
}

.ourworks_photo{
	max-width:100%;
	height:auto;
	overflow:hidden;
	display:block;
}
.ourworks__bottom{
margin:70px 0;
}
.ourworks_button{
margin:0 auto;
}

.section__comments{
background:url(images/comments_bg.jpg) no-repeat, $gradient-overlay;
	background-blend-mode: multiply, normal;
	background-size:cover;
}

.comments__slider{}
.comments_slide{}
.comments_slide_icon{
	opacity: 0.9;
	color: #ffffff;
	font-family: "Playfair Display";
	font-size: 100px;
	font-weight: 400;
	line-height: 22px;
	text-align:center;
	margin-top:70px;
}
.comments_slide_text{
	opacity: 0.85;
	color: #ffffff;
	font-family: "Playfair Display";
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	text-align:center;
	margin:40px 0 50px;
}
.comments_slide_author{
	color: #ffffff;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 900;
	line-height: 22px;
	text-transform: uppercase;
	text-align:center;
}
.comments_slide_subject{
	opacity: 0.7;
	color: #ffffff;
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
	line-height: 22px;
	text-transform: uppercase;
	text-align:center;
}

.comments__preview_slider{
	max-width:300px;
	margin:45px auto 70px;
}
.preview_slide{
    margin:5px;
    padding: 10px 0;
}
.preview_photo{
	width:45px;
	height:auto;
	border-radius:50%;
	overflow:hidden;
  
    
}
.preview_slide.slick-center{
     padding: 0;
}
.preview_slide.slick-center .preview_photo{
	width:70px;
     margin: 0;
   
}

.section__contact{
	 display:flex;
	 justify-content:space-between;
	 margin:70px 0;
}
.contact__form_block{
	width:45%;
}
.contact_form_title{
	color: $dark-grey;
	font-family: "Playfair Display";
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom:35px;
}
.form_input{
	width: 100%;
	height: 45px;
	border: 1px solid #000000;
	opacity: 0.1;
	margin-bottom:23px;
	opacity: 0.5;
	color: $dark-grey;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	padding:20px;
	box-sizing:border-box;
	outline:none;
}
.form_message{
	height: 200px;
	resize: none;
}
.contact_button{
	 padding:15px 32px;
	 background:#fff;
}
.contact__partners_block{
	width:45%;
}
.partners_title{
	color: $dark-grey;
	font-family: "Playfair Display";
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom:35px;
}
.partners_icons{
	display:grid;
	grid-template-columns: 1fr 1fr;
}
.partners_item{
	padding-bottom:50px;
}
//MAIN END

//FOOTER BEGIN
.footer{
    background:url(images/footer_bg.jpg) no-repeat, $gradient-overlay;
	background-blend-mode: multiply, normal;
	background-size:cover;
}
.footer__top{
	display:flex;
	justify-content:space-between;
	margin-top:70px;
}
.footer_top_left{
	width:30%;
}
.footer_text,.contacts_adress,.contacts_phone{
	color: #ffffff;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	line-height: 26px;
	padding-top:27px;
}
.footer_top_center{
	width:30%;
}
.footer_contacts{

}
.contacts_title,.socials_title{
	color: #ffffff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 900;
	line-height: 26px;
	text-transform: uppercase;
}
.footer_top_right{
	width:30%;
}
.footer_socials{}
.socials_title{}
.social_form{
	display:flex;
margin-top:40px;
}
.subscribe_input{
	
	width: 211px;
	height: 45px;
	border: 1px solid #ffffff;
	opacity: 0.5;
	padding:16px 17px;
	box-sizing:border-box;
	background:transparent;
	color: #ffffff;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	line-height: 26px;
	outline:none;
}
.social_submit{
	display:block;
	width: 70px;
	height: 45px;
	border: 1px solid #ffffff;
	background-color: #ffffff;
	opacity: 0.5;
	cursor:pointer;
}
.social_icons{
	display:flex;
	justify-content:space-between;
	margin-top:27px;
}
.social_icon{
	display:block;
	width: 35px;
	height: 35px;
	border-radius:50%;
	border: 1px solid #ffffff;
	color:#fff;
	text-align:center;
	padding-top:8px;
	box-sizing:border-box;
}

.footer__bottom{
	display:flex;
	justify-content:space-between;
	margin:70px 0;
}
.footer_menu_faq{
    display:flex;
	justify-content:space-between;
	max-width: 301px;
	width:100%;
}
.menu_faq_item,.copyright{
	color: #ffffff;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;
}
.copyright{
   text-transform:capitalize;
}
//FOOTER END
@media(max-width:1024px){
    .header{
        height: auto;
    }
    
}
@media (max-width:768px){
	.header_top_mobile{
		display:block;
	}
	.top_menu{
		display: none;
	}
    .slicknav_menu {
		display:block;
	}
	.header_logo{
		display:none;
	}

	.section__ourstory{
		flex-direction: column;
		align-items: center;
	}
	.ourstory_right{
	margin:0;
    }
    .ourworks__gallery{
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: "one two three four ""five six seven eight ""nine ten eleven twelve";

    }
    .footer__top{
    	flex-direction: column;
    	align-items: center;
    }
    .footer_top_right,.footer_top_left,.footer_top_center{
    	width:100%;
    }
    .footer_text,.contacts_title,.socials_title{
    	text-align: center;
    }
    .contacts_title{
    	margin-top: 30px;
    }
    .contacts_adress,.contacts_phone{text-align:center;}
    .social_form{
    	margin: 40px auto 0;
    }
    .social_icons{
    	justify-content: space-around;
    }

}
@media(max-width:568px){
	.expertise_blocks{
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "one two ""three four ""five six";
    }
    .expertise_block{
	&:nth-child(2n){
		border-right:none;
		border-bottom:1px solid rgba(0,0,0,0.1);
	}
	&:last-child{
		border-bottom:none;
	}
	&:nth-child(3){
		border-right:1px solid rgba(0,0,0,0.1);
	}
    }
    .section__contact{
    	flex-direction: column;
    }
      .contact__form_block{
    	width:100%;
    }
    .contact__partners_block{
    	width:100%;
    	margin-top: 30px;
    }
    .footer__bottom{flex-direction:column;}
    .copyright{margin-top: 30px;}
}

@media(max-width:430px){
	.expertise_blocks{
		display: block;
	}
    .expertise_block{
    	border-right: none;
    	border-bottom:1px solid rgba(0,0,0,0.1);
    &:nth-child(3){
		border-right:0;
	}
    }
    .ourworks__gallery{
	grid-template-columns: 1fr 1fr ;
	grid-template-areas: "one two ""three four ""five six ""seven eight ""nine ten ""eleven twelve";

    }
    .comments__preview_slider{
    	width:200px;
    }
  
}
